<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869210447633-7ot72jbjk6rkdctqadu6an7h6vcnkn3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869210447633-7ot72jbjk6rkdctqadu6an7h6vcnkn3v</string>
	<key>API_KEY</key>
	<string>AIzaSyCNMEGHfDi5G0gg9Iv5YPQARsYo00AgdhU</string>
	<key>GCM_SENDER_ID</key>
	<string>869210447633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ktb.c2hUAT</string>
	<key>PROJECT_ID</key>
	<string>c2h-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>c2h-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869210447633:ios:c437f77407c02cab38f6b0</string>
	<key>DATABASE_URL</key>
	<string>https://c2h-mobile.firebaseio.com</string>
</dict>
</plist>